div {

    height: 100px;
    width: 100px;
    padding:10px;
    opacity: 0.9;
    border-radius: 5px;
    background-color: #45FF22;
}

#fadeOut{
	opacity: 0.3;
	margin: 10px;
}

.button{
	height: 20px;
	width: 30px;
	display: inline-block;
	color: #FFFFFFF;
	background-color: #00CC00;
	font-family: Arial;
	font-size: 8px;
	text-align: center;
	margin: 5px 10px 5px 10px;
}
