div {

    height: 100px;
    width: 100px;
    padding:10px;
    border-radius: 5px;
    background-color: #45FF22;
}

#title{
	text-decoration: none;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Arial;
	background-color: #DAA520;
	color: #8B7500;
	text-align: center;
}

#buddy{
	opacity: 1;
	margin: 10px;
}

form{
	background-color: #8B7500;
	border-radius: 5px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Arial;
	font-size: 12px;
	color: #F8F8FF;
	margin: 2px;
}
input{
	background-color: #DAA520;
	border-radius: 5px;
}

button{
	display: inline-block;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Arial;
	border-radius:  5px;
	text-align: center;
	margin: 5px;
}
