div {

    height: 100px;
    width: 100px;
    padding:10px;
    border-radius: 5px;
    background-color: #45FF22;
}

#fadeOut{
	opacity: 0.3;
	margin: 10px;
}

button{
	display: inline-block;
	font-family: Arial;
	border-radius:  5px;
	text-align: center;
	margin: 5px 5px 5px 5px;
}
